.level-1 {padding-left: 45px !important;}

.redactor-editor {}
.redactor-editor:focus {}

.redactor-box {border: 2px solid #dce4ec; box-shadow: none; border-radius: 4px;}

.redactor-toolbar {box-shadow: none; border-bottom: 1px solid #dce4ec;}

.redactor-editor div,
.redactor-editor p,
.redactor-editor ul,
.redactor-editor ol,
.redactor-editor table,
.redactor-editor dl,
.redactor-editor blockquote,
.redactor-editor pre {
	font-size: 15px;
	line-height: 1.42857143em;
}

.well_list {border-top: 1px solid #ecf0f1; padding: 9px; font-size: 17px; line-height: 1.3em;}
.well_list a {}

.well_list-1 a {font-weight: bold;}
.well_list-2 {padding-left: 25px;}
.well_list--options {font-size: 12px; margin-top: 4px; margin-bottom: -4px; color: #7b8a8b;}


/* .cards_text */

.cards_text--header_transfer {font-size: 25px; line-height: 1.2em; margin: 15px 0 8px; font-weight: bold; text-align: center;}
.cards_text--header_object {font-size: 20px; font-weight: bold; margin: 15px 0 8px;}

.cards_text--header_object a,
.cards_text--header_transfer a {color: #2C3E50;}

.cards_text--text,
.cards_text--text blockquote, 
.cards_text--instruction {font-size: 17px; margin-bottom: 25px; text-align: justify;}
.cards_text--instruction {margin: 0 0 10.5px;}

.cards_footer li {width: 33.33%;}
.cards_footer li a {text-align: center;}

.cards_form_options {float: right; margin-top: 5px;}
.cards_form_options .btn {width: 120px;}

/* Адаптивная история */


.cards_content-desktop {position: relative; height: calc(100vh - 165px); overflow-y: scroll;}

.cards_content_header {height: 60px;}


/* cards_layout_plan */

.cards_layout_plan--header {font-weight: 450; font-size: 19px; padding: 15px 10px 8px 10px;}

.cards_layout_plan {height: calc(100vh - 147px); overflow-y: scroll; margin-bottom: 10px;}
.cards_layout_plan_object {padding-left: 25px;}

.cards_layout_plan--nav li a {padding: 5px 15px; margin: 3px 0; line-height: 19px;}


/* cards_plan */


.cards_plan_transfers {list-style-type: none; padding: 0; margin: 0 0 0 15px; z-index: 1000;}

.cards_plan_transfer {margin-bottom: 10px;}
.cards_plan_transfer--header {font-size: 22px;}


.cards_plan_objects {list-style-type: none; padding-left: 30px; padding-top: 10px;}

.cards_plan_object {margin-bottom: 10px;}
.cards_plan_object--header {font-size: 18px;}
.cards_plan_object--create {display: block; margin-left: 30px;}


.cards_plan_transfer--header,
.cards_plan_transfer--header:hover,

.cards_plan_object--header,
.cards_plan_object--header:hover {font-weight: bold; color: #2C3E50;}








