.level-1 {padding-left: 45px !important;}

.redactor-editor {}
.redactor-editor:focus {}

.redactor-box {border: 2px solid #dce4ec; box-shadow: none; border-radius: 4px;}

.redactor-toolbar {box-shadow: none; border-bottom: 1px solid #dce4ec;}

.redactor-editor div,
.redactor-editor p,
.redactor-editor ul,
.redactor-editor ol,
.redactor-editor table,
.redactor-editor dl,
.redactor-editor blockquote,
.redactor-editor pre {
	font-size: 15px;
	line-height: 1.42857143em;
}


.well_list {border-top: 1px solid #ecf0f1; padding: 9px; font-size: 17px; line-height: 1.3em;}
.well_list a {}

.well_list-1 a {font-weight: bold;}
.well_list-2 {padding-left: 25px;}
.well_list--options {font-size: 12px; margin-top: 4px; margin-bottom: -4px; color: #7b8a8b;}



.card_text--header_transfer {font-size: 25px; line-height: 1.2em; margin: 15px 0 8px; font-weight: bold; text-align: center;}
.card_text--header_object {font-size: 20px; font-weight: bold; margin: 15px 0 8px;}

.card_text--text, 
.card_text--instruction {font-size: 17px; /*font-family: Times; */ margin-bottom: 25px;}

.card_text--instruction {margin: 0 0 10.5px;}

.nav-footer-card li {width: 33.33%;}
.nav-footer-card li a {text-align: center;}

/* Адаптивная история */

.content-desktop {position: relative; height: calc(100vh - 200px); overflow-y: scroll;}