.level-1 {padding-left: 45px !important;}

.redactor-editor {border: none;}

.redactor-box {border: 2px solid #dce4ec; box-shadow: none; border-radius: 4px;}
.redactor-editor:focus {border-color: #F39C12;}

.redactor-toolbar {box-shadow: none; border-bottom: 1px solid #dce4ec;}

.redactor-editor div,
.redactor-editor p,
.redactor-editor ul,
.redactor-editor ol,
.redactor-editor table,
.redactor-editor dl,
.redactor-editor blockquote,
.redactor-editor pre {
	font-size: 15px;
	line-height: 1.42857143em;
}

.transfer--header {font-size: 22px; font-weight: bold;}

.object--header {font-size: 19px; font-weight: bold;}